*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;;

}

.header{
    padding: 5px;
    background-color: whitesmoke;
    text-align: center;
}

main{
    margin-left: 16px;
    margin-right: 16px;
}
#headLogo{
    height: 46px;
    float: left;  
}

.navbar{
    background-color: white;
    display: flow-root;
    box-shadow: 0px 2px 10px rgba(97, 97, 97, 0.425) ;
    width: 100%;
    position: sticky;
    top: 0px;
}

.navbar ul{
    display: flex;
    float: right;
    width: 40%;
    min-width: 10%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    justify-content: space-around;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: large;

}
nav a:hover{
    border-bottom: 2px solid black;
    transform: scale(1.1);
}

.slider img{
    display: block;
    width: 100%;
    height: 100%;
}
.slider a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    font-size: large;
    background-color: black;
    text-wrap: nowrap;
    overflow: visible;
    border-radius: 25px;
}

 .slider a:hover{
    background-color: hsl(0, 0%, 49%);
}

.prodRow{
    display: flex;
}
.prodContainer{
    display: table;
}
.prodCard{
    width: 33%;
    height: fit-content;
    float: left;
    padding: 16px;
    margin-top: 12px;
}
.prodCard:hover{
    transform: scale(1.1);
}
.prodCard img{
    width: 100%;
    background-color: rgb(243, 246, 247);
}

.prodInfo{
    margin-left: 12px;
}
.prodInfo h5{
    font-size: 1.2em;
    margin: 6px;
   
}

.prodInfo h6{
    font-size: 1.1em;
    margin: 6px;
    padding: 0%; 
    color: hsl(0, 0%, 30%);
}